/* #add-volunteer {
    visibility: hidden;
} */

/* Reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typographie et fond général */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

header{
  background-color: #21653b;
  color: white;
  padding: 1.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

/* Conteneur principal */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  margin-top: 10vh;
}

/* Titre */
/* .container h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
} */

/* Formulaire */
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Champs */
.form label, select {
  font-weight: bold;
}

.form input, select {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

.password-rule {
  font-style: italic;
  font-size: 0.8rem;
}

/* Bouton */
.form button, #button {
  padding: 0.8rem;
  background-color: #21653b;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form button:hover {
  background-color: #27844b;
}

/* Petit bonus : responsive desktop */
@media (min-width: 768px) {
  .container {
    margin-top: 10vh;
  }
}


